{{define "controller_get.go.tmpl"}}
func {{ .StructName}}Get(c *gin.Context) {
    req := {{.apiPackageName}}.{{ .StructName}}GetReq{}
    if err := c.ShouldBind(&req); err != nil {
        c.JSON(http.StatusOK, err)
        return
    }

    results, err := service.{{ .StructName}}Get(c.Request.Context(), &req)
    if err != nil {
        c.JSON(http.StatusOK, err)
        return
    }
    c.JSON(http.StatusOK, results)
}
{{end}}