{{define "dao_gorm_online.go.tmpl"}}
// Online{{.StructName}} is a function to online or offline a single record from {{.TableName}} table in the {{.DatabaseName}} database
// error - ErrNotFound, db record for id not found
// error - ErrUpdateFailed, db meta data copy failed or db.Save call failed
func Online{{.StructName}}(ctx context.Context, {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}} {{$field.GoFieldType}},{{end}}{{end -}}onlineStatus int32) (*{{.modelPackageName}}.{{.StructName}}, int64, error) {
   updated:=&{{.modelPackageName}}.{{.StructName}}{ {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }}{{$field.GoFieldName}}:{{$field.PrimaryKeyArgName}}{{end}}{{end}}, OnlineStatus: onlineStatus }
   result := DB.Updates(updated)
   err := result.Error
	if err != nil {
		return nil, -1, errors.Wrap(ErrUpdateFailed, err.Error())
	}
   if result.RowsAffected == 0 {
		return nil, -1, ErrNotFound
	}

   return updated, result.RowsAffected, nil
}
{{end}}
