{{define "dao_gorm_update.go.tmpl"}}
// Update{{.StructName}} is a function to update a single record from {{.TableName}} table in the {{.DatabaseName}} database
// error - ErrNotFound, db record for id not found
// error - ErrUpdateFailed, db meta data copy failed or db.Updates call failed
func Update{{.StructName}}(ctx context.Context, {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }} {{$field.PrimaryKeyArgName}} {{$field.GoFieldType}},{{end}}{{end -}}updated *{{.modelPackageName}}.{{.StructName}}) (*{{.modelPackageName}}.{{.StructName}}, int64, error) {
   updated.{{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }}{{$field.GoFieldName}}{{end}}{{end}} = {{range $field := .TableInfo.CodeFields}} {{ if $field.PrimaryKeyArgName }}{{$field.PrimaryKeyArgName}}{{end}}{{end}}
   result := DB.Model(updated).Updates(structToNestedMap(updated))
   err := result.Error
   if errors.Is(err, gorm.ErrRecordNotFound) || result.RowsAffected == 0 {
		return nil, -1, errors.Wrap(ErrNotFound, err.Error())
	}
   if err != nil {
		return nil, -1, errors.Wrap(ErrUpdateFailed, err.Error())
	}

   return updated, result.RowsAffected, nil
}
{{end}}
